[submodule "kafka-streaming"]
	path = kafka-streaming
	url = git@github.com:5IF-Data-Engineering/kafka-streaming.git
[submodule "batch"]
	path = batch
	url = git@github.com:5IF-Data-Engineering/deng-project.git